//Colores de fondo
$background-light: white;
$background-dark: white;
// Colores de jugadores
$blue-border: #1254B7;
$blue-player: #183766;
$red-border: #AC1A1A;
$red-player: #661818;
// Colores de texto
$text-primary-light: #3F3F3F;
$text-secondary-light: #636363;

// Fuentes de texto
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Rasa:wght@400;700&display=swap');